@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}

@keyframes scroll-team {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(calc(-250px * 13));
  }
}

.animate-scroll {
  animation: scroll 1s linear infinite;
}

.animate-scroll-team {
  animation: scroll-team 22s linear infinite;
}
